{%extends 'base1.html'%}
{%load static%}
{%block design%}
    
#n1{

}
.carousel_img{
    height:70vh;
    width:100vw;
}
#carouselExampleIndicators{
    margin-top:100px;
}
.carousel-item{
    /* width:90vw; */
    align-items: center !important;
    text-align: center !important;
}
.carousel-inner{
    align-items: center !important;
    text-align: center !important;
}
.main{
    margin-top:12vh !important;
}
{% endblock %}
{%block title%} ParthUcmas : Gallary {%endblock title%}
{%block gallaryactive %}active{%endblock gallaryactive %}
{% block content %}
<div class="main col-md-12 col-sm-12">
    <h1>Gallary</h1>
</div>
{% endblock content %}
{%block js %}
{% endblock js %}