{%extends 'base1.html'%}
{%load static%}
    {%block design%}
    
        #n1{

        }
        .carousel_img{
            height:70vh;
            width:100vw;
        }
        #carouselExampleIndicators{
            margin-top:100px;
        }
        .carousel-item{
            /* width:90vw; */
            align-items: center !important;
            text-align: center !important;
        }
        .carousel-inner{
            align-items: center !important;
            text-align: center !important;
        }
        .main{
            margin-top:12vh !important;
        }
    {% endblock %}
    {%block title%} ParthUcmas : Home{%endblock title%}
    {% block listeningflashactive %}active{% endblock listeningflashactive %}
    {% block content %}
    <div class="main">
    <div class="container">
        <div>
            <div id="no_ques" style="display:none">{{no_of_questions}}</div>
            <div id="ques_speed" class="ques" style="display:none">{{questions_speed}}</div>
            <div id="all_question" style="display: none;">{{questions}}</div>
            <div id="n" class="mt-5" style="display:none;font-size:30px;color:red"></div>
            {% for que in questions%}
                
                <div class="nums ml-1 mr-1 mt-5 col-2" style="display:none;border:1px solid black;">{{que.counter}}
                {% for i in que%}
                    {{i}}
                {%endfor%}
                </div>
            {%endfor%}
            {% for num in num1%}
                <div class="num1" style="display: none;">{{num}}</div>
            {%endfor%}
            {% for num in num2%}
                <div class="num2" style="display: none;">{{num}}</div>
            {%endfor%}
            {%for an in ans%}
                <div class="ans" style="display:none">{{an}}</div>
            {%endfor%}
        </div>
        <center>
            <div class="col-12 mt-5" id="display_number" style="height:60vh;font-size:70px;text-align: center;align-items:center;color:red;padding-top:20vh">
    
            </div></center>
        <div class="btn btn-primary" style="position:absolute;top:80vh;left:80vw;" onclick="speak1()">start</div>
        <form action="{% url 'flash_multiplication' %}">
            <Button class="btn btn-secondary ml-2" id="back" type="submit" style="position:absolute;top:80vh;left:85vw;display:none">Back</Button>
            </form>
        <!-- <div class="btn btn-primary" style="position:absolute;top:80vh;left:80vw;" onclick="speak1()">Next</div> -->
    </div>
    </div>
    {% endblock %}
    {%block js %}
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function speak1(){
        num1=document.getElementsByClassName('num1');
        num2=document.getElementsByClassName('num2');
        n=document.getElementById('n');
        ans=document.getElementsByClassName('ans');
        questions=(document.getElementById('all_question').innerHTML);
        ques_speed=(document.getElementById('ques_speed'));
        display_number=document.getElementById('display_number');
        no_ques=parseInt(document.getElementById('no_ques').value);
        // no_rows=parseInt(document.getElementById('no_rows').value);
        var i,j;
        for(i=0;i<num1.length;i++){
                n.style.display=''
                n.innerHTML=String('Question No:'+(i+1))
                console.log(String(num1[i].innerHTML))
                console.log(String(num1[2].innerHTML))
                display_number.innerHTML=String(num1[i].innerHTML+' X '+num2[i].innerHTML);
                speed=parseInt(ques_speed.innerHTML);
                // var msg = new SpeechSynthesisUtterance(String(num1[i].innerHTML));
                // // msg.text=String(i);
                // msg.lang = 'en-US';
                // msg.rate=parseInt(ques_speed.innerHTML);
                // speechSynthesis.speak(msg);
                

                // await sleep(1000);
                // display_number.innerHTML=String('Multiply By');
                // var msg = new SpeechSynthesisUtterance(String('Multiply By'));
                // // msg.text=String(i);
                // msg.lang = 'en-US';
                // msg.rate = 2;
                // speechSynthesis.speak(msg);
           
                // display_number.innerHTML=String(num2[i].innerHTML);
                // var msg = new SpeechSynthesisUtterance(String(num2[i].innerHTML));
                // // msg.text=String(i);
                // msg.lang = 'en-US';
                // msg.rate = 2;
                // speechSynthesis.speak(msg);
                if(speed==1){await sleep(4000);}
                if(speed==3){await sleep(3000);}
                if(speed==6){await sleep(2000);}
                display_number.innerHTML=String('that is');
                // speechSynthesis.speak(new SpeechSynthesisUtterance('that is ?'));
                if(speed==1){await sleep(3000);}
                if(speed==3){await sleep(3000);}
                if(speed==6){await sleep(3000);}
                display_number.innerHTML=String('Answer is '+String(ans[i].innerHTML));
                // speechSynthesis.speak(new SpeechSynthesisUtterance("Answer is "+String(ans[i].innerHTML)))
                await sleep(2000);
                if(i!=(num1.length-1)){
                    display_number.innerHTML=String('Next ');
                    // speechSynthesis.speak(new SpeechSynthesisUtterance("Next"))
                    await sleep(2000)
                }
               
        }
        back.style.display='';
        // function speak3(){
        //     // back.style.display='';
        //     window.location.href = "flash";
        // }
    }
    // speak1()
    
{% endblock js %}