{%extends 'base1.html'%}
{%load static%}
{%block design%}
    
#n1{

}
.carousel_img{
    height:70vh;
    width:100vw;
}
#carouselExampleIndicators{
    margin-top:100px;
}
.carousel-item{
    /* width:90vw; */
    align-items: center !important;
    text-align: center !important;
}
.carousel-inner{
    align-items: center !important;
    text-align: center !important;
}
.main{
    margin-top:12vh !important;
}
{% endblock %}
{%block title%} ParthUcmas : levels {%endblock title%}
{%block levelsactive%}active{%endblock levelsactive %}
{% block content %}
<div class="main col-md-12 col-sm-12">
    <div class="container">
    <h1>levels</h1>
    <div class="card bg-primary text-white mt-5 opacity-50"  style="opacity:0.6 !important">
        <div class="card-header">
            <h3 class="text-center">5-7 years</h3>
        </div>
        <div class="card-body">
            <div class="col-12 mt-2">
                <h4>Junior Level 1</h4>
                <h6 class="text-white mt-2"> Duration 3-4 Months</h6>
            </div>
            <div class="col-12 mt-2">
                <h4>Junior Level 2</h4>
                <h6 class="text-white mt-2"> Duration 3-4 Months</h6>
            </div>

            <div class="col-12 mt-2">
                <h4>Junior Level 3</h4>
                <h6 class="text-white mt-2"> Duration 3-4 Months</h6>
            </div>

            <div class="col-12 mt-2">
                <h4>Elementary Level 4</h4>
                <h6 class="text-white mt-2"> Duration 3-4 Months</h6>
            </div>
            <div class="col-12 mt-2">
                <h4>Elementary Level 5</h4>
                <h6 class="text-white mt-2"> Duration 3-4 Months</h6>
            </div>


        </div>
    </div>
    <div class="card bg-primary text-white mt-5"  style="opacity:0.6 !important">
        <div class="card-header">
            <h3 class="text-center">8-13 years</h3>
        </div>
        <div class="card-body">
            <div class="col-12 mt-2">
                <h4>Basic Level 6</h4>
                <h6 class="text-white mt-2"> Duration 4-5 Months</h6>
            </div>
            <div class="col-12 mt-2">
                <h4>Elementary Level 2</h4>
                <h6 class="text-white mt-2">Duration 4-5 Months</h6>
            </div>

            <div class="col-12 mt-2">
                <h4>Elementary Level 3</h4>
                <h6 class="text-white mt-2"> Duration 4-5 Months</p>
            </div>
        </div>
    </div>

<div class="card bg-primary text-white mt-5"  style="opacity:0.6 !important">
        <div class="card-header">
            <h3 class="text-center">Curriculum:</h3>
        </div>
        <div class="card-body">
            <div class="col-12">
                <h4>Addition / Subtraction – 1 & 2 digits</h4>
                
            </div>
            <div class="col-12">
                <h4>Introduction to Times Tables</h4>
               
            </div>
        </div>
    </div>

<div class="card bg-primary text-white mt-5"  style="opacity:0.5 !important">
        <div class="card-header">
            <h3 class="text-center">Benefits:</h3>
        </div>
        <div class="card-body">
            <div class="col-12">
                <h4>Literacy on physical Abacus</h4>
                
            </div>
            <div class="col-12">
                <h4>Introduction to Visual Abacus (Mental Calculations)</h4>
               
            </div>
            <div class="col-12">
                <h4>Improving Fine Motor skills</h4>
            </div>
            <div class="col-12">
                <h4>Improving Visual and Auditory skills</h4>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
{%block js %}
{% endblock js %}