{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% block design %} 
.about{
  color:blue;
}
.center {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* (x, y)  => position */
	-ms-transform: translate(-50%, -50%);
	/* IE 9 */
	-webkit-transform: translate(-50%, -50%);
	/* Chrome, Safari, Opera */
}
.card{
  padding-top:5vh !important;
  padding-bottom:5vh !important;
  border-radius:20px !important;
}
main .card {
  background-color: #3475;
}

body {
  <!-- background: #fe8c00; /* fallback for old browsers */ -->
  font-family: 'Poppins', sans-serif !important;
            //font-size: 16px;
            //line-height: 24px;
            //font-weight: 400;
            //color: #212112 !important;
            //color: white !important;
            //background: #fe8c00;
            background: -webkit-linear-gradient(
              to right,
              #f83600,
              #fe8c00
            ) !important; /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
              to right,
              #f83600,
              #fe8c00
            ) !important;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg') !important;
            
            background-position: center !important;
            background-repeat: repeat !important;
            background-size: 7% !important;
            background-color: #fff !important;
            overflow-x: hidden !important;
            transition: all 200ms linear !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;
}



h3 {
  font-family: Times New Roman;
  font-weight: bold;
}
hr {
  border-bottom: solid white 1px;
}
.rounded-pill{
  border-radius: 25px !important;
}
.btn {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  background-color: #3475 !important;
  color: white !important;
}

::placeholder {
  color: white !important;
}
{% endblock %}
{% block content %}
<main class="container">
    <div class="absolute-center text-center content-section">
      <div class="card col-md-4 col-sm-10 center">
        <form class="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <h3 class="text-center text-uppercase mb-4">Login</h3>
                <!-- {{ form|crispy }} -->
                {% for field in form %}
                <div class="form-group">
                  {{ field.label_tag }}</br>
                  {{field}}
                  {% if field.help_text %}
                  <small id="emailHelp" style="" class="form-text">{{field.help_text}}</small>
                  {% endif %}
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                
                </div>
                
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="col-sm-6 btn btn-secondary rounded-pill mt-3" type="submit">Login</button>
            </div>
            <div class="form-group mt-5">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{user.username}}</strong> {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
                 <!-- <div class="center mb-5">
                    <a class="btn btn-success" href="{%url 'home' %}">Home</a>
                  </div> -->
                {% endif %}
            </div>
            <!-- <a class="btn btn-success" href="../accounts/google/login/?process=login">Google</a> -->
        </form>
        <div class="pt-3">
            <small class="text">
                Need An Account? <a class="btn btn-primary btn-large rounded-pill" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}